body {
    margin: 0;
    font-family: 'Open Sans', 'arial', sans-serif;
}


.home-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('tuxguy.png'); 
    height: 800px;
    width: 100%;
    background-size: cover;
    display: block; 
    margin-bottom: 0px;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: black;
    overflow: hidden;
    padding-left: 20px;
}

nav a:hover {
    color: #9b0a0a;
}
nav {
    background-color: #ffffff;
    height: 75px;
}

ul{
    margin-top: 0;
    height:50px;
}

.right-menu {
    position:absolute;
    right:0;
    top:0;
    width:400px;
}

.left-menu {
    position:absolute;
    left:0;
    top:0;
    width:300px;
}

nav li {
    list-style: none;
    text-decoration: none;
    padding: 2%;
    align-items: center;
    overflow: hidden;
    display: inline-block;
    height:100%;
    margin-top: 5%;
}

nav img {  
    margin-left: 2%;
    height: 40px;
    width: auto;
    position: relative;
}


.motto h1{
    margin-top: 23%;
   
}

.motto h1 {
    margin-left: 35%;
    font-size: 300%;
}

.motto h3 {
    margin-left: 46%;
}

.motto h1, .motto h3 {
    color: rgba(255, 255, 255, 0.72)
}

.reviews {
    height: 350px;
    width: 100%;
}

.box-review p {
    max-width: 15%;
    display: inline-block;
    text-align: center;
    padding-left: 14%;
    margin-top: 3%;
}

.home-nav {
    position: relative;
    top: 5%;
}

.reviews h2 {
    text-align: center;
    color: #000000;
}

.reviews {
    margin-top: 5%;
    margin-bottom: 5%;
}

.border-center {
    height: 1px;
    width: 5%;
    border-bottom: 2px solid #ff3434;
    margin-left: 47.45%;
}

.infocontact {
    float: right;
    margin-right: 15%;
    margin-top: 10%;
}

.infocontact h3 {
    font-size: 150%;
    margin-right: 15%;
}


footer {
    background-color: #9b9b9b;
    margin-bottom: 0px;
    height: 100px;
    text-align: center;
}

footer p {
    padding-top: 25px;
}

footer a {
    text-decoration: none;
    color: #001d95;
}

.border-nav {
    border-bottom: 2px solid #fc5959;
}

.about-box {
    text-align: center;
}

.about-box p {
    max-width: 80%;
    text-align: center;
    font-size: 115%;
}

.about-box img {
    height: auto;
    width: 38%;
    float: left;
}

.about-para {
    margin-left: 19%;
    margin-bottom: 5%;
}

.products-box img {
    width: 75%;
    height: auto;
}

.product-img {
    display: inline-block;
}

.products-box h2 {
    text-align: center;
    margin-top: 5%;
}

.img-box {
    margin-left: 10%;
}

